.income {
    position: relative;
    height: var(--app-viewport-height);
    overflow: hidden;
}

.tab {
    height: var(--app-viewport-height);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.side {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.side_inner {
    width: 100%;
    height: 100%;
}

.image_inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_inner {
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--new-color-warm-gray);
    overflow: hidden;
}

[data-reversed="true"] .content_inner {
    background: #e2d4c4;
}

.title {
    width: 100%;
    max-width: 630px;
    font-family: var(--font3);
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    color: var(--new-color-light-beight);
}

[data-reversed="true"] .title {
    color: var(--new-color-dark-taupe);
}

.content_img_wrap {
    margin: 24px 0;
    width: 100%;
    max-width: 240px;
    aspect-ratio: 240 / 320;
}

.content_img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    width: 100%;
    max-width: 630px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--new-color-light-beight);
}

[data-reversed="true"] .text {
    color: var(--new-color-dark-taupe);
}

.buttons {
    position: absolute;
    padding: 4px;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 470px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background: rgba(74, 59, 58, 0.15);
}

.buttons button {
    padding: 8px 8px 9px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background .3s ease;
    border-radius: 8px;
}

.buttons button::before {
    content: '';
    margin-top: 2px;
    display: flex;
    width: 4px;
    height: 4px;
    background: transparent;
    border-radius: 100%;
    transition: background .3s ease;
}

.buttons button span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--new-color-light-beight);
    transition: color .3s ease;
}

.buttons button[data-active="true"] {
    background: var(--new-color-dark-taupe);
}

.buttons button[data-active="true"]::before {
    background: var(--new-color-light-beight);
}

.buttons button[data-active="true"] span {
    color: var(--new-color-light-beight);
}

@media (max-width: 1200px){
    .tab {
        grid-template-columns: 1fr;
        max-height: none;
    }

    .main_img_wrap {
        display: none;
    }

    .side:has(.image_inner) {
        display: none;
    }

    .content_inner {
        padding: 64px 16px 112px;
        max-height: none;
    }
}

@media (max-width: 600px){
    .content_inner {
        padding: 48px 16px 64px;
        max-height: none;
    }

    .title {
        font-size: 32px;
    }

    .content_img_wrap {
        max-width: 180px;
    }

    .text {
        font-size: 14px;
    }

    .buttons {
        left: 16px;
        right: 16px;
        transform: none;
        max-width: calc(100% - 32px);
        bottom: 24px;
    }
}


@media (max-width: 470px){
    .title {
        font-size: 26px;
    }

    .content_img_wrap {
        max-height: 200px;
        max-width: 160px;
    }
}
