.fullscreen_slider {
  position: relative;
  min-height: 100svh;
  display: flex;
  overflow: hidden;
}

.bg_swiper {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
}

.bg_swiper :global(.swiper-wrapper),
.bg_swiper :global(.swiper-slide),
.bg_inner_slider,
.bg_inner_swiper,
.bg_inner_swiper :global(.swiper-wrapper),
.bg_inner_swiper :global(.swiper-slide) {
  height: 100%;
}

.bg_swiper :global(.swiper-slide),
.bg_inner_swiper :global(.swiper-slide),
.content_swiper :global(.swiper-slide) {
  scroll-snap-align: start;
}

.bg_inner_slider,
.bg_inner_swiper {
  width: 100%;
}

.bg_inner_slider {
  position: relative;
}

.bg { 
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: auto;
  z-index: 3;
} */


.panel {
  position: absolute;
  bottom: 48px;
  right: 96px;
  /* padding: 24px 24px 64px; */
  padding: 48px 24px;
  width: min(100%, 420px);
  background: var(--new-color-dark-taupe);
  z-index: 2;
}

.content_swiper {
  width: 100%;
  scroll-snap-type: x mandatory;
}

.slide_content {
  width: 100%;
}

.title_row {
  display: flex;
  flex-direction: column;
}

.toggle {
  display: none !important;
  margin-left: auto;
  margin-bottom: 32px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--new-color-light-beight);
  border-radius: 100%;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  outline: none;
  cursor: pointer;
}

.toggle[aria-expanded="true"] {
  transform: rotate(45deg);
}

.title {
  margin-bottom: 32px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--new-color-light-beight);
}

.buttons {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.buttons button {
  padding: 10px 12px 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--new-color-light-beight);
  border: 1px solid var(--new-color-light-beight);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: background .5s ease;
}

@media (hover: hover){
  .buttons button:hover {
    background: color-mix(
      in srgb,
      var(--new-color-light-beight) 10%,
      black 0%
    );
  }
}

.buttons button:active {
  background: color-mix(
    in srgb,
    var(--new-color-light-beight) 20%,
    black 0%
  );
}

.buttons button:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.progress {
  width: 100%;
  height: 2px;
  background: rgb(250 245 239 / 28%);
} 

.progress span {
  display: block;
  height: 100%;
  background: var(--new-color-light-beight);
}

.slider_controls {
  position: absolute;
  left: 50%;
  bottom: 48px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  z-index: 5;
}

.slider_buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.slider_arrow {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--new-color-light-beight);
  cursor: pointer;
}

.slider_arrow:disabled {
  opacity: 0.5;
  cursor: default;
}

.slider_counter {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--new-color-light-beight);
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.slider_counter span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: var(--new-color-light-beight);
}

.square {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: var(--new-color-light-beight);
}

.square span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--new-color-light-beight);
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--new-color-light-beight);

  transform: translateY(20px);
  opacity: 0;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;

  transition: opacity .3s linear, grid-template-rows .3s linear, transform .3s linear;
  will-change: transform, opacity, grid-template-rows;
  pointer-events: none;
}

.panel:hover .text {
  grid-template-rows: 1fr;
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.panel:hover .text_outer {
  max-height: 500px;
  padding-top: 64px;
}

.text_outer {
  padding-top: 0;
  max-height: 0;
}


/* POPUP */

.popup {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.popup_backdrop {
  position: absolute;
  inset: 0;
  border: 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.popup_content {
  position: relative;
  z-index: 1;
  width: min(100%, 1024px);
  background: var(--white);
  min-height: 70%;
  display: flex;
  align-items: center;
  min-width: 0;
}

.popup_close {
  position: absolute;
  top: 0;
  right: -64px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--new-color-light-beight);
  cursor: pointer;
  border-radius: 100%;
  z-index: 5;
}

.popup_image {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.plans {
  width: 100%;
}

.plans_slider {
  width: 100%;
}

.plan_controls {
  position: absolute;
  bottom: 16px;
  right: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  z-index: 3;
}

.plan_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.plan_arrow {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--new-color-dark-taupe);
  cursor: pointer;
}

.plan_arrow:disabled {
  opacity: 0.5;
  cursor: default;
}

.plan_counter {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--new-color-dark-taupe);
}

.plan_counter span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-align: right;
  color: var(--new-color-dark-taupe);
}

@media (max-width: 1500px){
  .panel {
    right: 24px;
  }
}


@media (max-width: 1200px){
  /* .container {
    padding-top: 24px;
    padding-bottom: 24px;
  } */

  .panel {
    bottom: 24px;
    /* padding: 16px 16px 32px; */
    padding: 32px 16px;
    width: min(100%, 330px);
    background: var(--new-color-dark-taupe);
    z-index: 2;
  }

  .title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .toggle {
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
  }

  .square {
    font-size: 24px;
  }

  .text {
    /*margin-top: 24px;*/
  }

  .slider_controls {
    left: 24px;
    bottom: 24px;
    transform: none;
  }

  .popup {
    position: fixed;
    z-index: 40;
  }

  .popup_image {
    max-width: 85%;
    margin: 0 auto;
  }

  .popup_close {
    top: 12px;
    right: 12px;
    border-color: var(--new-color-dark-taupe);
  }

  .popup_close svg path {
    stroke: var(--new-color-dark-taupe);
  }
}

@media (max-width: 990px){
  .panel {
    right: 16px;
  }
}

@media (max-width: 600px){
  .fullscreen_slider {
    flex-direction: column;
    /* min-height: auto; */
  }

  .wrap {
    position: relative;
    min-width: 0;
  }

  .bg_swiper {
    position: static;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 375 / 240;
    min-height: 240px;
  }

  /* .container {
    padding: 0;
  } */

  .panel {
    position: static;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .buttons {
    column-gap: 8px;
  }

  .buttons button {
    font-size: 12px;
  }

  .text {
    font-size: 14px;
     grid-template-rows: 1fr;
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }


  .text_outer {
    max-height: none;
    padding-top: 32px !important;
    height: max-content;
  }

  .slider_controls {
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
  }

  .slider_arrow {
    width: 40px;
    height: 40px;
  }

  .slider_counter span {
    font-size: 20px;
  }



  .popup {
    padding: 0;
  }

  .popup_content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .popup_image {
    max-width: 100%;
  }

  .popup_close {
    width: 40px;
    height: 40px;
  }

  .plan_arrow {
    width: 40px;
    height: 40px;
  }

  .plan_counter span {
    font-size: 20px;
  }
}
